<div class="container app" style="margin-left:50px">
	<form name="recognitionForm" class="form-horizontal" novalidate = "">
		<div class="form-group" style="width: 80%">
			<p>
				<label class="control-label">Username</label>
				
				<div class="controls">
					<input type="text" class="form-control  immediate-help" name="username" ng-model="username" required="" />
					<div class="input-help">
				      <h4>Please enter your full name.</h4>
				    </div>
					<span style="color:red" ng-show="sampleForm.username.$dirty" >
						<span ng-show="sampleForm.username.$invalid">
							<span ng-show="sampleForm.username.$error.required">Username is required.</span>
						</span>
					</span>
				</div>
			</p>
			<p>
				<label class="control-label">Email</label>
				
				<div class="controls">
					<input type="email" class="form-control immediate-help" name="email" ng-model="email" required="" />
				    <div class="input-help">
				      <h4>Please enter a valid email id.</h4>
				      <br/>
				      For ex. <b>xyz@sapint.com</b>
				    </div>
				    
					<span style="color:red" ng-show="sampleForm.email.$dirty &amp;&amp; sampleForm.email.$invalid">
					<span ng-show="sampleForm.email.$error.required">Email is required.</span>
					<span ng-show="sampleForm.email.$error.email">Invalid email address.</span>
					</span>
					
				</div>
			</p>
			
			<p>
				<label class="control-label"></label>
				<div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>
			</p>
			
			<p>
				<button class="btn btn-link" ng-click="reset()">Reset</button>
				<input type="submit" class="btn btn-primary" ng-click="submit()"
				ng-disabled="sampleForm.user.$dirty &amp;&amp; sampleForm.user.$invalid ||  
				sampleForm.email.$dirty &amp;&amp; sampleForm.email.$invalid || sampleForm.$invalid" />
			</p>
		</div>
	</form> 
</div>