
<div class="container app" style="width: 60%" align="center" >
	<div class="modal-dialog"
		style="width: 100%; margin-left: 00px; margin-top: -10px">
		<div class="modal-content">
			<div class="modal-body">

				<form name="addUserForm" class="form-horizontal" novalidate="">
					<div class="form-group" >

						<div class="col-sm-11">
							<div class="form-group">
								<label class="control-label col-sm-4 input-sm">Name</label>

								<div class="col-sm-8">
									<input type="text" id="editUser.name"
										class="form-control input-sm immediate-help"
										ng-model="editUser.name" ng-disabled="isNewUser != 'Y'"></input>

								</div>
							</div>
						</div>
						
						<div class="col-sm-11">
							<div class="form-group">
								<label class="control-label col-sm-4 input-sm">Oracle Id</label>

								<div class="col-sm-8">
									<input type="text" id="editUser.oracleId"
										class="form-control input-sm immediate-help"
										ng-model="editUser.oracleId" ng-disabled="isNewUser != 'Y'"></input>

								</div>
							</div>
						</div>
						
						<div class="col-sm-11" ng-show="loggedInUser.recognitionTeamFlag == 'Y'">
							<div class="form-group">
								<label class="control-label col-sm-4 input-sm">Logged In User</label>

								<div class="col-sm-8">
									<input type="text" id="editUser.ntLogin"
										class="form-control input-sm immediate-help"
										ng-model="editUser.ntLogin" ng-disabled="isNewUser != 'Y'"></input>

								</div>
							</div>
						</div>

						<div class="col-sm-11">
							<div class="form-group">
								<label class="control-label col-sm-4 input-sm">Project</label>

								<div class="col-sm-8">
									<input type="text" id="editUser.project"
										class="form-control input-sm immediate-help"
										ng-model="editUser.project"></input>

								</div>
							</div>
						</div>


						<div class="col-sm-11">
							<div class="form-group">
								<label class="control-label col-sm-4 input-sm">Location</label>

								<div class="col-sm-8">
									<input type="text" id="editUser.location"
										class="form-control input-sm immediate-help"
										ng-model="editUser.location"></input>

								</div>
							</div>
						</div>
						
						
						<div class="col-sm-11" ng-show="loggedInUser.recognitionTeamFlag == 'Y'">
							<div class="form-group">
								<label class="control-label col-sm-4 input-sm">Is in Recognition Team</label>

								<div class="col-sm-8">
									<input type="text" id="editUser.recognitionTeamFlg"
										class="form-control input-sm immediate-help"
										ng-model="editUser.recognitionTeamFlg" ></input>

								</div>
							</div>
						</div>
						
						<div class="col-sm-11" ng-show="isGuestUser">
							<div class="form-group">
								<label class="control-label col-sm-4 input-sm">Account</label>

								<div class="col-sm-8">
									<select id="editUser.account" class="form-control immediate-help input-sm" name="editUser.account" 
									ng-model="editUser.account" required="" 
									ng-options="account as account.value for account in typeaheadAccounts track by account.id" />

								</div>
							</div>
						</div> 
						<div class="col-sm-6">
							<p align="right">
								<input type="button" class="btn btn-primary" value="submit"
									ng-click="updateMember()" ng-disabled="" />
							</p>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
