
<div style="width: 24%; position: absolute; top:50px; margin-left: 71%">
		<div ng-show="category != null" class="input-sm">
<div class="modal-dialog" style="width: 100%;">
	<div class="modal-content">
		<div class="modal-body">
			<b><u>{{category}}</u></b>
			
			<div ng-show = "category == 'Client Focussed Delivery (CFD)'" >
				
				<p>Our clients engage us to bring the best ideas and deliver. To figure out what their business really needs, and plan to deliver it on time. Get to know the client's business—and their competition's—better than they know it. Engage them in conversations about growing the bottom line. Let your passion show. Focus on success for your direct client and the company as a whole.</p>
				 
				Try a new view to make room for innovation. Think about what's really being asked of us and have the confidence to reframe it.
				Keep an eye on the big picture the client's end goals and how we can help them attain them.
				Manage—then exceed—expectations to ensure the only surprises are fantastic ones. Communicate clearly and frequently. Raise the bar.
				
			</div>
				
			<div ng-show = "category == 'Creativity'" >
				
				<p>Creativity is the foundation of good ideas and good execution. There's never a set path to a great solution—you have to take a new perspective, find a new angle, make something up to make it happen. Sometimes you have to take risks. Be curious and seek inspiration from unexpected places. Always have your eyes open to new ideas.</p>
				 
				Challenge assumptions and consider new possibilities. Take risks and break conventions to find better answers that yield better results.
				Cultivate collaboration. Share your ideas and draw connections from unrelated fields. Encourage everyone to do the same, no matter what their background.
				Seek creative impact. Make beautiful work that forges connections between people and brands. Inspire others to do the same.
			</div>
			
			<div ng-show = "category == 'Leadership'" >
				<p>Leadership isn't a title, it's a mentality. It's about having a point of view, sharing your experience and energizing our people and our clients around a shared vision. Sometimes it’s about making tough decisions—all in the name of reaching a common goal.</p>
				 
				Model the way. Show your unwavering commitment to the core values and your clients’ businesses every day.
				Learn to coach. You don’t have to play all the time. Enable others to act. Don't feel the need to have all the answers; rather, give others the tools to find the answers. Allow for risks.
				Confront missed expectations to drive accountability. Don’t be afraid to identify an issue that impacts our clients or our community.
			</div>
			
			<div ng-show = "category == 'Openness'" >
				<p>Honest communication is the cornerstone of any good relationship. It's also a form of respect. And when you're not listening or sharing, you're not learning or teaching. Be open to changing your viewpoint, but exercise your obligation to dissent when it’s the right thing to do. Enlist many heads—they’re better than one.</p>
				 
				Listen up. Remember that openness is a two-way street. Seek to understand before seeking to solve.
				Always be curious. Ask questions, the simple ones and the tough ones.
				Share information and feedback with confidence. Be specific. Don't assume others know what you know.
			</div>
				
			<div ng-show = "category == 'People Growth'" >	
				<p>People Growth is about more than promotions. It’s a mindset that there is room to grow and learn in every interaction. So teach those around you as both a consumer and producer of knowledge. Learn whatever you can, whenever you can. Seize the opportunities that are in front of you; create the ones that are not. Take the initiative to achieve more.</p>
				 
				Own your growth. If you want to learn something, use our resources. Find a class or conference, shadow someone, get a book or just start asking questions.
				Get comfortable with being uncomfortable. No one will grow without stretching a little, so challenge yourself and your teams to do so.
				Look back to move forward. Take the time to reflect as a group, share feedback and learnings with the community, and recognize those who live the core values.
			</div>
			
			<div ng-show = "category == 'Relationship'" >

				<p>Strong relationships and trusted partnerships make it exciting for us to come to work, fun for our clients to hire us and smart for people to do business with us. So put in the time to understand your coworkers and clients. Find out what's important to them and care about it. Become a trusted advisor. Do your part to put the delight into our day. </p>
				 
				Do the right thing. Your integrity comes above all else. It's the only way to build and maintain trust.
				Communicate. Be honest. Say the tough things when they need to be said. Say the good things at every opportunity. Say them all nicely.
				Collaborate. Seek different viewpoints. Work toward common goals. Come from a place of openness, empathy and acceptance.
			
			</div>	
			
		</div>
		
		
	
	</div>
</div>
</div>
</div>	
	